
<div class='blog-container'>
  <h1>Blogs</h1>

  <div class="marg">
    <% @blogs.each do |blog| %>
      <div>
        <%= link_to blog.title, blog_path(blog) %>
      </div>
      <div>
        <%= blog.author %>
      </div>
      <div>
        <%= blog.body %>
      </div>
    <% end %>
  </div>

  <div class="marg">
    <%= link_to 'Make a new post', new_blog_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

